.section__about{
  .content__banner{
    background-image: url('/img/banner-about.jpg')
  }
  .content__about{
    position: relative;
    width: 100%;
    min-height: 1%;
    padding: 100px 0px;
    background-color: #fff;
    &.color--gray{
      background-color: #f9f9f9;
    }
    .block--title{
      @include fontLato(24px, 400);
      color: lighten($color-blue, 10%);
      margin: 0 0 25px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .btn--goTo {
      margin-top: 15px;
      display: inline-block;
      padding: 14px 50px;
      @include fontLato(16px, 400);
      color: #fff;
      background-color: $color-blue;
      border: 0;
      border-radius: 0;
      transition: all .2s;
      &:hover, &:focus{
        background-color: lighten($color-blue, 8%);
        text-decoration: none;
        outline: 0;
      }
    }
    .nav_list{
      display: block;
      width: 100%;
      > li{
        position: relative;
        float: none;
        padding: 2px 0 2px 40px;
        .material-icons{
          position: absolute;
          top: 1px;
          left: 1px;
          color: $color-yellow;
        }
        & + li{
          margin-top: 5px;
        }
      }
    }
    .nav_team{
      display: block;
      width: 100%;
      position: relative;
      > li{
        width: 33.333333%;
        float: left;
        .team--item{
          width: 270px;
          margin: 0 auto;
          text-align: center;
          .team--photo{
            width: 100%;
            display: block;
            position: relative;
            img{
              display: block;
              width: 100%;
              margin: 0 auto;
            }
          }
          .team--name{
            @include fontLato(20px, 400);
            color: $color-blue;
            margin: 15px 0 5px;
            line-height: 24px;
          }
          .team--position{
            @include fontLato(12px, 400);
            // color: darken($color-yellow, 12%);
            color: #999;
            margin: 0 0 15px;
            text-transform: uppercase;
          }
          .text--description{
            padding: 0 10px;
          }
        }
      }
    }
  }
  .content-img {
    text-align: center;
    // border: 1px solid #eee;
    // padding: 20px;
    width: 390px;
    margin: 0 auto;
    @include borderRadius(8px);
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
    overflow: hidden;
    img{
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .certificate__list{
    position: relative;
    @include clearfix();
  }
  .certificate__item{
    float: left;
    width: 50%;
    padding: 0 30px;
    margin-bottom: 25px;
  }
  .certificate__inner{
    width: 100%;
    position: relative;
    min-height: 250px;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 25px 30px;
  }
  .certificate__logo{
    position: relative;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
    img{
      display: block;
      margin: 0 auto;
    }
    &:after{
      position: absolute;
      bottom: -15px;
      content: '';
      width: 60px;
      height: 5px;
      left: 50%;
      margin-left: -30px;
      background-color: $color-yellow;
    }
  }
}
