.section__gallery{
  .content__banner{
    background-image: url('/img/banner-gallery.jpg')
  }
  .icon--plus{
    $sizePlus: 60px;
    $sizeX: 30px;
    $sizeY: 3px;
    width: $sizePlus;
    height: $sizePlus;
    background-color: rgba(white, .4);
    @include borderRadius(50%);
    position: absolute;
    top: 50%;
    margin-top: -($sizePlus / 2);
    left: 50%;
    margin-left: -($sizePlus / 2);
    &:after, &:before{
      background-color: #fff;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
    }
    &:after{
      width: $sizeX;
      height: $sizeY;
      margin-left: -($sizeX / 2);
      margin-top: -($sizeY / 2);
    }
    &:before{
      height: $sizeX;
      width: $sizeY;
      margin-left: -($sizeY / 2);
      margin-top: -($sizeX / 2);
    }
  }
  .content__gallery{
    position: relative;
    padding: 80px 0;
    .container {
      @include mq('laptop'){
        padding: 0;
      }
    }
    .gallery__list{
      width: 100%;
      position: relative;

    }
    .gallery__item{
      width: 100%;
      float: left;
      padding: 0;
      margin-bottom: 30px;
      overflow: hidden;
      @include mq('tablet') {
        width: 50%;
      }
      @include mq('laptop') {
        width: 370px;
        & + .gallery__item{
          margin-left: 30px;
        }
        &:nth-child(3n + 1){
          margin-left: 0;
        }
      }
      img {
        width: 100%;
        display: block;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .gallery__inner{
      position: relative;
      @include clearfix();
      width: 100%;
      overflow: hidden;
      &:hover {
        cursor: pointer;
        .bg--black{
          animation-name: fadeIn;
        }
      }
    }
    .bg--black{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(black, .45);
      opacity: 0;
      animation-duration: .6s;
      animation-fill-mode: both;
    }
  }
}