.section__home{
  .content__slider{
    $hSlider: 550px;
    position: relative;
    width: 100%;
    height: 500px;
    @media (min-width: 768px) {
      height: $hSlider;
    }
    .slider{
      position: relative;
      width: 100%;
      height: 500px !important;
      @media (min-width: 768px) {
        height: $hSlider !important;
      }
      .indicators {
        position: absolute;
        bottom: 20px;
        z-index: 999;
        &.indi-center {
          left: 50%;
          transform: translateX(-50%);
        }
        .slider-indicator-icon{
          display: inline-block;
          cursor: pointer;
          border-radius: 50%;
          background-color: #fff;
          width: 18px;
          height: 18px;
          margin: 0 5px;
          &.slider-indicator-active{
            background-color: $color-yellow;
          }
        }
      }
    }
    .slide__control{
      $ControlSize: 48px;
      position: absolute;
      width: $ControlSize;
      height: $ControlSize;
      @include borderRadius(50%);
      top: 50%;
      z-index: 999;
      margin-top: -($ControlSize)/2;
      border: 0;
      padding: 0;
      display: block;
      background: {
        color: transparent !important;
        position: center;
        repeat: no-repeat;
      };
      transition: none;
      .slider-icon{
        display: none;
      }
      &:hover, &:focus{
        outline: 0;
      }
    }
    .bg_slider{
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };
      padding-top: 220px;
      height: 500px !important;
      @media (min-width: 768px) {
        padding-top: 200px;
      }
      @media (min-width: 768px) {
        height: $hSlider !important;
      }
      &.tns-slide-active{
        .slider--title{
          animation-name: fadeInDown;
        }
        .alink{
          animation-name: fadeInUp;
        }
      }
    }
    .bg--black{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      background-color: rgba(black, .2);
      transition: all .25s ease;
    }
    .slider__content{
      width: 100%;
      margin-left: auto;
      text-align: center;
      position: relative;
      z-index: 10;
    }
    .alink {
      width: 120px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      display: inline-block;
      border: 1px solid #fff;
      animation-duration: .6s;
      animation-fill-mode: both;
      transition: background .2s ease;
      &:hover, &:focus{
        text-decoration: none;
        outline: 0;
        background-color: #fff;
        color: #666;
      }
      & + .alink{
        margin-left: 15px;
      }
      &.acolor{
        background-color: $color-blue;
        border-color: $color-blue;
        &:hover{
          background-color: lighten($color-blue, 5%);
          color: #fff;
        }
      }
    }
    .slider--title{
      margin: 0;
      margin-bottom: 20px;
      color: #fff;
      font-size: 28px;
      font-weight: 700;
      animation-duration: .6s;
      animation-fill-mode: both;
      span{
        font-size: 40px;
      }
    }
  }
  .title__content{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 35px;
    color: lighten($color-black, 5%);
    span{
      color: $color-blue;
    }
  }
  .content__about{
    $hDiv: 300px;
    min-height: $hDiv;
    width: 100%;
    color: #3e3e3e;
    padding: 60px 0;
    background-color: #fff;
    @media (min-width: 540px) {
      padding: 80px 0;
    }
    .title__content{
      font-size: 28px;
    }
    .block--text{
      width: 100%;
      margin: 0 auto 45px;
      font-size: 22px;
      font-weight: 300;
      text-align: left;
      padding-right: 25px;
      @include clearfix();
      p{
        margin: 0;
      }
      h4 {
        color: $color-blue;
        margin: 20px 0 0;
        line-height: 22px;
        font-style: italic;
        @include fontLato(18px, 400);
        text-transform: uppercase;
      }
      .alink{
        margin-top: 15px;
        display: inline-block;
        padding: 14px 50px;
        @include fontLato(16px, 400);
        color: #fff;
        background-color: $color-blue;
        border: 0;
        border-radius: 0;
        transition: all .2s;
        &:hover, &:focus{
          background-color: lighten($color-blue, 8%);
          text-decoration: none;
          outline: 0;
        }
      }
      @include mq('laptop') {
        float: left;
        width: 50%
      }
    }
    .block--img{
      width: 100%;
      @include clearfix();
      @include mq('laptop') {
        float: left;
        width: 40%;
        margin-right: 10%;
      }
      $wImg: 572px;
      .bg--cube{
        width: 100%; //$wImg;
        display: block;
        margin: 0 auto;
        position: relative;
        $size: 120px;
        @include borderRadius(8px);
        box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
        overflow: hidden;
      }
      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        z-index: 5;
        position: relative;
      }
    }
  }
  .content__gallery{
    $hImg: 332px;
    position: relative;
    width: 100%;
    min-height: 1%;
    background-color: #f7f7f7;
    padding-top: 95px;
    text-align: center;
    .row{
      margin: 0;
    }
    .container-fluid, .col-xs-12, .col-xs-6{
      padding-left: 0;
      padding-right: 0;
    }
    .bg--gallery{
      width: 100%;
      position: relative;
      @include clearfix();
      z-index: 2;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      };
      transition: all .6s ease;
      transform: scale(1);
    }
    .bg--black{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      background-color: rgba(black, .3);
      transition: all .25s ease;
    }
    .alink{
      $hLink: 40px;
      $wLink: 120px;
      width: $wLink;
      height: $hLink;
      background-color: $color-blue;
      color: #fff;
      line-height: $hLink;
      font-size: 16px;
      font-weight: 300;
      position: absolute;
      opacity: 0;
      display: block;
      z-index: 8;
      top: 50%;
      left: 50%;
      margin-left: -($wLink / 2);
      margin-top: -($hLink / 2);
      transition: all .1s ease;
      &:hover{
        text-decoration: none;
      }
    }
    .img--vertical{
      width: 100%;
      height: $hImg * 2;
      position: relative;
      overflow: hidden;
      &:hover{
        .bg--black{
          background-color: rgba(black, .05);
        }
        .bg--gallery{
          transform: scale(1.1);
        }
        .alink{
          opacity: 1;
        }
      }
      .bg1{
        height: $hImg * 2;
        background-image: url('/img/home/home-gallery1.jpg')
      }
      .bg2{
        height: $hImg * 2;
        background-image: url('/img/home/home-gallery5.jpg')
      }
    }
    .img--horizontal{
      width: 100%;
      height: $hImg;
      position: relative;
      overflow: hidden;
      &:hover{
        .bg--black{
          background-color: rgba(black, .05);
        }
        .bg--gallery{
          transform: scale(1.1);
        }
        .alink{
          opacity: 1;
        }
      }
      .bg1{
        height: $hImg;
        background-image: url('/img/home/home-gallery2.jpg')
      }
      .bg2{
        height: $hImg;
        background-image: url('/img/home/home-gallery3.jpg')
      }
      .bg3{
        height: $hImg;
        background-image: url('/img/home/home-gallery4.jpg')
      }
    }
  }
  .content__certificate{
    position: relative;
    width: 100%;
    min-height: 1%;
    background-color: #f7f7f7;
    padding-top: 95px;
    text-align: center;
    .certificate__list{
      position: relative;
      @include clearfix();
    }
    .certificate__item{
      float: left;
      width: 50%;
      padding: 0 30px;
      margin-bottom: 25px;
    }
    .certificate__inner{
      width: 100%;
      position: relative;
      min-height: 250px;
      border: 1px solid #eee;
      background-color: #fff;
      padding: 25px 30px;
    }
    .certificate__logo{
      position: relative;
      width: 100%;
      margin-bottom: 35px;
      img{
        display: inline-block;
      }
      &:after{
        position: absolute;
        bottom: -15px;
        content: '';
        width: 60px;
        height: 5px;
        left: 50%;
        margin-left: -30px;
        background-color: $color-yellow;
      }
    }
  }
  .content__products{
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 1%;
    padding: 70px 0;
    text-align: center;
    .block__title{
      text-align: center;
      margin: 0 0 45px;
      width: 100%;
      h4{
        color: $color-blue;
        @include fontLato(30px, 400);
        text-transform: uppercase;
        margin: 0;
      }
    }
    $wItem: 490px;
    .product__list{
      width: 2*$wItem + 60;
      margin: 0 auto;
      @include clearfix();
    }
    .product__item{
      width: 50%;
      position: relative;
      float: left;
      padding: 0 15px;
      margin-bottom: 30px;
      .product__inner{
        overflow: hidden;
        width: $wItem;
        margin: 0 auto;
        background-color: #fff;
        @include borderRadius(8px);
        position: relative;
        // min-height: 330px;
        // border: 1px solid #ddd;
        border: 0;
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
        transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        &:hover{
          // border-color: #bbb;
          box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
          // background-color: rgba($color-blue, 0.15);
        }
      }
      .product--photo{
        position: relative;
        // min-height: 250px;
        padding: 0;
        overflow: hidden;
        // border-bottom: 1px solid #d6d6d6;
        img{
          display: block;
          max-width: 100%;
          height: auto;
          // max-height: 230px;
          margin: 0 auto;
        }
      }
      .product--detail{
        padding: 15px 10px 15px;
        text-align: center;
        @include fontLato(18px, 700);
        background-color: $color-blue;
        color: #fff;
        .name{
        }
      }
      &:nth-child(4){
        // margin-left: 16.66666667%;
      }
    }
  }
  .content__clients{
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
    .b--title{
      text-align: center;
      h3{
        color: $color-blue;
        margin: 0 0 15px;
        font-size: 48px;
        line-height: 48px;
        @include fontLato(30px, 400);
      }
      p{
        margin: 0;
      }
    }
    .client__slider{
      position: relative;
      width: 100%;
      height: 200px;
      padding: 0 55px;
      margin-top: 50px;
    }
    .client__item{
      position: relative;
      width: 200px;
      height: 200px;
      .client__inner{
        position: relative;
        width: 200px;
        height: 200px;
        background-color: #fff;
        img{
          margin: 0 auto;
          display: block;
        }
      }
      .vertical{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .slide__control{
      $ControlSize: 45px;
      position: absolute;
      width: $ControlSize;
      height: $ControlSize;
      @include borderRadius(50%);
      top: 50%;
      z-index: 999;
      margin-top: -($ControlSize)/2;
      border: 0;
      padding: 0;
      display: block;
      background: {
        color: transparent;
        position: center;
        repeat: no-repeat;
      };
      transition: none;
      .slider-icon{
        display: none;
      }
      .arrow{
        width: 20px;
        height: 20px;
        border-bottom: 4px solid $color-yellow;
        border-right: 4px solid $color-yellow;
        display: block;
        position: relative;
      }
      &:hover{
        background-color: rgba($color-yellow, 0.3);
      }
      &.btn-left{
        left: 15px;
        padding-left: 18px;
        .arrow{
          transform: rotate(135deg);
        }
        @include mq('tablet') {
          left: 5px;
        }
      }
      &.btn-right{
        right: 15px;
        padding-left: 10px;
        .arrow{
          transform: rotate(-45deg);
        }
        @include mq('tablet') {
          right: 5px;
        }
      }
      &:hover, &:focus{
        outline: 0;
      }
    }
  }
}