// landing
@import './home';
@import './about';
// @import './faq';
@import './contact';
@import './gallery';
@import './products';

.preload-app{
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  margin: 0 auto;
}