@mixin fontLato($size, $weight){
  font-family: 'Lato', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin fontMyriad($size, $weight){
  font-family: "Myriad Pro", sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin ellipsis{
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}