$breakpoints: (
  "phone": 475px,
  "tablet": 768px,
  "laptop":  992px,
  "desktop":  1200px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      @if $type == max {
          $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
          @content;
      }
  }
}