// Primer elemento
@mixin first($num) {
  @if $num == 1 {
    &:first-child {
      @content;
    }
  } @else {
    &:nth-child(-n + #{$num}) {
      @content;
    }
  }
}
// Ultimo elemento
@mixin last($num) {
  &:nth-last-child(-n + #{$num}) {
    @content;
  }
}

// Seleccionada todos los pares
@mixin even() {
  &:nth-child(even) {
    @content;
  }
}

// Seleccionada todos los impares
@mixin odd() {
  &:nth-child(odd) {
    @content;
  }
}

// Seleccionada todos menos los $num primeros
@mixin after-first($num) {
  &:nth-child(n + #{$num + 1}) {
    @content;
  }
}

// Selecciona un elemento desde el final
@mixin from-end($num) {
  &:nth-last-child(#{$num}) {
    @content;
  }
}

// Seleccionada los elementos entre un rango
@mixin between($first, $last) {
  &:nth-child(n + #{$first}):nth-child(-n + #{$last}) {
    @content;
  }
}

// Seleccionada todos los elementos menos $num
@mixin all-but($num) {
  &:not(:nth-child(#{$num})) {
    @content;
  }
}

// Seleccionada los elementos multiplo de $num
@mixin each($num) {
  &:nth-child(#{$num}n) {
    @content;
  }
}