<template>
<div class="content__banner">
  <div class="bg--black">
    <div class="container">
      <h2 class="title__banner">{{title}}</h2>
    </div>
  </div>
</div>
</template>
<script>
export default {
  name: 'BannerSection',
  props: {
    title: String
  }
}
</script>
