.content__banner{
  min-height: 1%;
  width: 100%;
  position: relative;
  background: {
    size: cover;
    position: center;
    repeat: no-repeat;
    image: url(/img/bg--banner.jpg);
  };
  color: #fff;
  padding: 0;
  .title__banner{
    color: $color-yellow;
    @include fontLato(36px, 700);
    text-transform: uppercase;
    @include mq('tablet') {
      font-size: 44px;
    }
    @include mq('laptop') {
      font-size: 50px;
    }
  }
  .bg--black{
    padding: 248px 0 41px;
    background-color: rgba(41, 36, 36, 0.4);
    width: 100%;
  }
  /*
  .description{
    width: 100%;
    margin: 0 auto;
    @include fontLato(16px, 400);
    p{
      margin: 0;
    }
    @media (min-width: 768px) {
      width: 650px;
    }
  }
  */
}