<template>
  <section class="section__gallery">
    <banner-section title="GALERÍA"/>
    <div class="content__gallery">
      <div class="container">
        <div class="row">
          <div class="gallery__list">
            <div class="gallery__item" v-for="(item, inx) in imageList" :key="inx" :data-index="inx">
              <img @click="open($event)" :src="item.url">
              <!-- div class="gallery__inner" >
                <div class="bg--black">
                  <div class="icon--plus"></div>
                </div>
              </div -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import BannerSection from '../components/BannerSection.vue'
import fancyBox from 'vue-fancybox';
export default {
  name: 'GalleryPage',
  components: {
    BannerSection
  },
  data () {
    return {
      imageList: [
        { width: 994, height: 663, url: '/img/gallery/gallery1a.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery1b.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery1.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery2.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery3.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery4.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery5.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery5a.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery6.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery7.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery8.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery11.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery9.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery10.jpg' },
        { width: 994, height: 663, url: '/img/gallery/gallery12.jpg' }
      ]
    }
  },
  methods: {
    open (e) {
      fancyBox(e.target, this.imageList);
    }
  }
}
</script>


