<template>
  <div class="section__home">
    <div class="content__slider">
      <div class="slider">
        <!-- button type="button" @click="getStep('prev')" class="slide__control btn-left"></button>
        <button type="button" @click="getStep('next')" class="slide__control btn-right"></button -->
        <tiny-slider ref="tinySlider" :mouse-drag="false" :loop="false" mode="gallery" auto-height :animate-delay="900" items="1" gutter="20" :controls="false">
          <div class="bg_slider" style="background-image: url(/img/slider3.jpg)">
            <div class="bg--black"></div>
            <div class="slider__content">
              <h2 class="slider--title">AGRICULTURA DE PRECISIÓN<br><span>CON RESPONSABILIDAD</span></h2>
              <div class="text-cemter">
                <router-link class="alink acolor" :to="{name: 'AboutPage'}">LEER MÁS</router-link>
                <router-link class="alink" :to="{name: 'ContactPage'}">CONTACTANOS</router-link>
              </div>
            </div>
          </div>
          <div class="bg_slider" style="background-image: url(/img/slider2.jpg)">
            <div class="bg--black"></div>
            <div class="slider__content">
              <h2 class="slider--title">CONTAMOS CON LAS<br><span>MEJORES CERTIFICACIONES</span></h2>
              <div class="text-cemter">
                <router-link class="alink acolor" :to="{name: 'AboutPage'}">LEER MÁS</router-link>
                <router-link class="alink" :to="{name: 'ContactPage'}">CONTACTANOS</router-link>
              </div>
            </div>
          </div>
          <div class="bg_slider" style="background-image: url(/img/slider1.jpg)">
            <div class="bg--black"></div>
            <div class="slider__content">
              <h2 class="slider--title">ALIMENTOS FRESCOS Y DE TEMPORADA<br><span>PARA UN ESTILO DE VIDA SALUDABLE</span></h2>
              <div class="text-cemter">
                <router-link class="alink acolor" :to="{name: 'AboutPage'}">LEER MÁS</router-link>
                <router-link class="alink" :to="{name: 'ContactPage'}">CONTACTANOS</router-link>
              </div>
            </div>
          </div>
          <div class="bg_slider" style="background-image: url(/img/slider-onion.png)">
            <div class="bg--black"></div>
            <div class="slider__content">
              <h2 class="slider--title">VARIEDAD DE LOS MÁS FRESCOS<br><span>FRUTOS Y VEGETALES</span></h2>
              <div class="text-cemter">
                <router-link class="alink acolor" :to="{name: 'ProductsPage'}">LEER MÁS</router-link>
                <router-link class="alink" :to="{name: 'ContactPage'}">CONTACTANOS</router-link>
              </div>
            </div>
          </div>
        </tiny-slider>
        <div class="indicators indi-center" @click.stop>
          <span :key="i" :class="{ 'slider-indicator-active': nowItemIndex === i - 1 }"
          @click="getIndex(i - 1)" v-for="i in 4" class="slider-indicator-icon"></span>
        </div>
      </div>
    </div>
    <div class="content__about">
      <div class="container">
        <div class="block--img">
          <div class="bg--cube">
            <img src="/img/home/welcome-home.png" alt="bg-microscope">
          </div>
        </div>
        <div class="block--text">
          <h3 class="title__content">Bienvenidos a <span>NOVOLIZ</span></h3>
          <p>Fundada en octubre de 1986, NOVOLIZ S.A. es parte del grupo Granados, un grupo progresivo y diversificado con más de 40 años de existencia en Perú. Novoliz es líder en producción de cebolla; hace 18 años fue la primera en Villacurí en adaptar el riego por goteo y el riego con cinta enterrada, además de innovar e implementar nuevas herramientas y practicas de cultivo, que hoy son familiares para todos los agricultores.</p>
          <h4 class="slogan">"AGRICULTURA DE PRECISIÓN CON RESPONSABILIDAD"</h4>
          <div class="text-left">
            <router-link class="alink" :to="{name: 'AboutPage'}">LEER MÁS</router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="content__gallery">
      <h3 class="title__content">GALE<span>RÍA</span></h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="img--vertical">
              <div class="bg--black"></div>
              <router-link class="alink" :to="{name: 'GalleryPage'}">VER MÁS</router-link>
              <div class="bg--gallery bg1"></div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col-xs-6">
                <div class="img--horizontal">
                  <div class="bg--black"></div>
                  <router-link class="alink" :to="{name: 'GalleryPage'}">VER MÁS</router-link>
                  <div class="bg--gallery bg1"></div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="img--horizontal">
                  <div class="bg--black"></div>
                  <router-link class="alink" :to="{name: 'GalleryPage'}">VER MÁS</router-link>
                  <div class="bg--gallery bg2"></div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="img--horizontal">
                  <div class="bg--black"></div>
                  <router-link class="alink" :to="{name: 'GalleryPage'}">VER MÁS</router-link>
                  <div class="bg--gallery bg3"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="img--vertical">
              <div class="bg--black"></div>
              <router-link class="alink" :to="{name: 'GalleryPage'}">VER MÁS</router-link>
              <div class="bg--gallery bg2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- div class="content__certified">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <img class="img-content" src="/img/home2.jpg" alt="home2">
          </div>
          <div class="col-xs-12 col-md-5 col-md-offset-1">
            <h4>Por que elegirnos</h4>
            <div class="list__why">
              <div class="why--item">
                  <div class="why--icon">
                    <img src="/img/icon-certificate.png" alt="icon-certificate">
                  </div>
                  <div class="why--text">
                    <p class="title">Certificados</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel et modi cupiditate illum quisquam dolorem expedita suscipit, asperiores numquam accusamus non sequi</p>
                  </div>
              </div>
              <div class="why--item">
                  <div class="why--icon">
                    <img src="/img/icon-wallet.png" alt="icon-wallet">
                  </div>
                  <div class="why--text">
                    <p class="title">Precios</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel et modi cupiditate illum quisquam dolorem expedita suscipit</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div -->
    <div class="content__products">
      <div class="container">
        <h3 class="title__content">NUESTROS <span>PRODUCTOS</span></h3>
        <div class="product__list">
          <div class="product__item clearfix">
            <div class="product__inner">
              <div class="product--photo">
                <img src="/img/products/product-cebolla.jpg" alt="Novoliz Cebolla">
              </div>
              <div class="product--detail">
                CEBOLLLA
              </div>
            </div>
          </div>
          <!-- div class="product__item clearfix">
            <div class="product__inner">
              <div class="product--photo">
                <img src="/img/products/product-cebolla-china.jpg" alt="Novoliz Cebolla china">
              </div>
              <div class="product--detail">
                CEBOLLA CHINA
              </div>
            </div>
          </div -->
          <div class="product__item clearfix">
            <div class="product__inner">
              <div class="product--photo">
                <img src="/img/products/product-tomate.jpg" alt="Novoliz Semillas">
              </div>
              <div class="product--detail">
                SEMILLAS
              </div>
            </div>
          </div>
          <div class="product__item clearfix">
            <div class="product__inner">
              <div class="product--photo">
                <img src="/img/products/product-granada.jpg" alt="Novoliz Granada">
              </div>
              <div class="product--detail">
                GRANADA
              </div>
            </div>
          </div>
          <div class="product__item clearfix">
            <div class="product__inner">
              <div class="product--photo">
                <img src="/img/products/product-stevia.jpg" alt="Novoliz Stevia">
              </div>
              <div class="product--detail">
                STEVIA
              </div>
            </div>
          </div>
          <!-- div class="product__item clearfix">
            <div class="product__inner">
              <div class="product--photo">
                <img src="/img/home-stevia.png" alt="stevia">
              </div>
              <div class="product--detail">
                ESTEVIA
              </div>
            </div>
          </div -->
        </div>
      </div>
    </div>
    <div class="content__certificate">
      <div class="container">
        <h3 class="title__content">NUESTRAS <span>CERTIFICACIONES</span></h3>
        <div class="certificate__list">
          <div class="certificate__item">
            <div class="certificate__inner">
              <div class="certificate__logo">
                <img src="/img/certificado/logo-gobalgap.png" alt="logo-globalgap">
              </div>
              <div class="certificate--description">
                <p>Certifica que Nuestros productos alcanzan niveles aceptables de seguridad y calidad, y han sido producidos sustentablemente, respetando la salud, seguridad y bienestar de los trabajadores y el medio ambiente</p>
              </div>
            </div>
          </div>
          <div class="certificate__item">
            <div class="certificate__inner">
              <div class="certificate__logo">
                <img src="/img/certificado/logo-smeta.png" alt="logo-smeta">
              </div>
              <div class="certificate--description">
                <p>Un procedimiento de auditoría en base al comercio ético (ETI) y la legislación local, respecto a la salud y seguridad de nuestros trabajadores y estándares de trabajo.</p>
              </div>
            </div>
          </div>
          <div class="certificate__item">
            <div class="certificate__inner">
              <div class="certificate__logo">
                <img src="/img/certificado/logo-senasa.png" alt="logo-senasa">
              </div>
              <div class="certificate--description">
                <p>Organismo público que nos otorga la autorización sanitaria para el funcionamiento de nuestro packing, certifica nuestros campos y productos y garantiza que están libres de plagas cuarentenarias y que cumplen los requisitos fitosanitarios de la contraparte importadora</p>
              </div>
            </div>
          </div>
          <div class="certificate__item">
            <div class="certificate__inner">
              <div class="certificate__logo">
                <img src="/img/certificado/logo-fda.png" alt="logo-fda">
              </div>
              <div class="certificate--description">
                <p>Agencia gubernamental de Estados Unidos que nos otorga el número de registro para nuestro establecimiento de producción (packing)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content__clients">
      <div class="container">
        <div class="b--title">
          <h3>CLIENTES</h3>
          <p>Estamos encantados de responder sus preguntas</p>
        </div>
        <div class="client__slider">
          <button type="button" @click="getStepClients('prev')" class="slide__control btn-left"><span class="arrow"></span></button>
          <button type="button" @click="getStepClients('next')" class="slide__control btn-right"><span class="arrow"></span></button>
          <!-- /div -->
          <tiny-slider ref="tinyClients" :mouse-drag="false" :loop="true" auto-height :animate-delay="900" :controls="false" items="5" gutter="20">
            <div class="client__item" v-for="(item, index) in clients" :key="index">
              <div class="client__inner">
                <div class="vertical"><img :src="'/img/clients/'+item+'.png'" alt="name"></div>
              </div>
            </div>
          </tiny-slider>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const clients = ['walmart', 'realwweet', 'grfarms', 'keystone', 'jumosol', 'lomar', 'ruescas', 'top_onions', 'peru_spices', 'greenland_peru', 'stevia_coronel', 'grupo_huamani']
import TinySlider from 'vue-tiny-slider'
export default {
  name: 'HomePage',
  components: {
    TinySlider
  },
  data () {
    return {
      nowItemIndex: 0,
      clients
    }
  },
  created () {
  },
  methods: {
    eventModalSubscribe () {
      this.$store.dispatch('openModalSubscribe')
    },
    getIndex (step) {
      this.nowItemIndex = step
      this.$refs.tinySlider.slider.goTo(step)
    },
    getStep (step) {
      // this.nowItemIndex = step === 'next'
      this.$refs.tinySlider.slider.goTo(step)
      let index = this.$refs.tinySlider.slider.getInfo()
      this.nowItemIndex = index.index % 2
      // console.log(index)
    },
    getStepClients (step) {
      this.$refs.tinyClients.slider.goTo(step)
    }
  }
}
</script>
<style lang="scss">
#example-custom-transition{
  .fade{
    &-enter-active, &-leave-active, &-leave-to{
      transition: .3s ease-out;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-enter, &-leave, &-leave-to{
      opacity: 0;
    }
  }
}
</style>
