<template>
  <section class="section__products">
    <banner-section title="PRODUCTOS"/>
    <div class="content__products">
      <div class="container">
        <div class="content__inner">
          <div class="product__list">
            <div class="product__item">
              <div class="product__inner">
                <div class="product__image">
                  <div class="block--img">
                    <img src="/img/products/product-cebolla.jpg" alt="Novoliz Cebolla">
                  </div>
                </div>
                <div class="product__text">
                  <p class="title">Cebolla</p>
                  <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque dolorem, dolorum suscipit debitis labore eveniet eaque repudiandae corrupti officiis ipsum, reiciendis illum neque in perferendis? Ea libero similique accusamus. </p>
                  <div class="clearfix text-center">
                    <p>Calendario de producción</p>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Set</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Div</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product__item">
              <div class="product__inner">
                <div class="product__image">
                  <div class="block--img">
                    <img src="/img/products/product-tomate.jpg" alt="Novoliz Semilla">
                  </div>
                </div>
                <div class="product__text">
                  <p class="title">Semillas</p>
                  <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque dolorem, dolorum suscipit debitis labore eveniet eaque repudiandae corrupti officiis ipsum, reiciendis illum neque in perferendis? Ea libero similique accusamus. </p>
                  <div class="clearfix text-center">
                    <p>Calendario de producción</p>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Set</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Div</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product__item">
              <div class="product__inner">
                <div class="product__image">
                  <div class="block--img">
                    <img src="/img/products/product-granada.jpg" alt="Novoliz Granada">
                  </div>
                </div>
                <div class="product__text">
                  <p class="title">Granada</p>
                  <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque dolorem, dolorum suscipit debitis labore eveniet eaque repudiandae corrupti officiis ipsum, reiciendis illum neque in perferendis? Ea libero similique accusamus. </p>
                  <div class="clearfix text-center">
                    <p>Calendario de producción</p>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Set</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Div</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product__item">
              <div class="product__inner">
                <div class="product__image">
                  <div class="block--img">
                    <img src="/img/products/product-stevia.jpg" alt="Novoliz Stevia">
                  </div>
                </div>
                <div class="product__text">
                  <p class="title">Stevia</p>
                  <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque dolorem, dolorum suscipit debitis labore eveniet eaque repudiandae corrupti officiis ipsum, reiciendis illum neque in perferendis? Ea libero similique accusamus. </p>
                  <div class="clearfix text-center">
                    <p>Calendario de producción</p>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Set</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Div</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                            <td class="bg-color"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import BannerSection from '../components/BannerSection.vue'
export default {
  name: 'ProductsPage',
  components: {
    BannerSection
  },
  data () {
    return {
    }
  }
}
</script>

